# ==========================
# Python
# ==========================

backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# ==========================
# Environment Variables
# ==========================

backend/.env

# ==========================
# Generated Reports
# ==========================

backend/reports/
reports/

# ==========================
# Database
# ==========================

*.db
*.sqlite3

# ==========================
# Node
# ==========================

frontend/node_modules/

# ==========================
# React Build
# ==========================

frontend/dist/
frontend/build/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db